[Unit]
Description=Process monitoring gpio pin, shutdown rpi if pulled down
[Service]
ExecStart=/usr/bin/pi-shutdown
ExecStop=/bin/systemctl kill pi-shutdown
[Install]
WantedBy=multi-user.target
