[Unit]
Description=Process monitoring gpio pin, shutdown rpi if pulled down
[Service]
ExecStart=/usr/bin/pi-shutdown
ExecStop=pkill pi-shutdown
ExecStopPost=/home/pi/bin/max7219 "PI OFF  "
[Install]
WantedBy=multi-user.target
