[Desktop Entry]
Version=1.0
Exec=/home/pi/R65/R65-Emulator/emulator
Name=R65 Emulator
GenericName=R65 Emulator
Comment=R65 Emulator
Encoding=UTF-8
Terminal=false
Type=Application
Categories=Accessories;
X-KeepTerminal=true
Name[en_US]=R65 Emulator
Icon=computer
Name[de_CH]=R65 Emulator
Path=/home/pi/R65/R65-Emulator
Comment[de_CH]=R65 Emulator
